@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Lato', sans-serif !important;
}

.heading{
    font-family: 'Playfair Display', serif !important;
}

.primary-background{
    background-color: #2196f3 !important;
}

.primary-text-color{
    color: #2196f3 !important;
}